<body>
<a href="/about/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>
<h1>Blog</h1>
<p>Welcome to my blog! This is where I'll be sharing updates about my journey with Astro    and any other thoughts I have about web development.</p>
<p>Stay tuned for more posts as I continue to learn and grow with Astro!</p>
</body>