---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const pageTitle = 'Home Page';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />

    <h1>Home</h1>
<p>Welcome to my blog! This is where I'll be sharing updates about my journey with Astro    and any other thoughts I have about web development.</p>
<p>Stay tuned for more posts as I continue to learn and grow with Astro!</p>
    
    <Footer />
      
    <script>
 import "../scripts/menu.js";
  </script>


  </body>
</html>



